{% extends "main_base.html" %}

{% load socialaccount %}
{% providers_media_js %}

{% load static %}
{% block 'title' %}BeautiSync{% endblock %}

{% block 'content' %}

	{{ request.user }}
	<button>
			<a class="ml-5" href="{% provider_login_url 'google' %}">Login with Google</a>
	</button>
	<button>
			<a class="ml-5" href="{% url 'profiles:cstm_login' %}">Login non-auth</a>
	</button>
	<button>
			<a class="ml-5" href="{% url 'profiles:cstm_signup' %}">Signup non-auth</a>
	</button>
	<button>
			<a class="ml-5" href="{% url 'main:logout' %}">Logout</a>
	</button>
	<button>
	</button>

{% endblock %}
