<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<fieldset>
			<legend>Product Details</legend>
			{{ product_form.as_p }}
	</fieldset>

	<fieldset>
			<legend>Product Variations</legend>
			{{ variation_formset.management_form }}
			{% for form in variation_formset %}
					<div>
							{{ form.as_p }}
							{% if form.instance.pk %}
									<label for="{{ form.prefix }}-DELETE">Delete:</label>
									{{ form.DELETE }}
							{% endif %}
					</div>
			{% endfor %}
	</fieldset>

	<button type="submit">Save</button>
</form>
